nav {
    background-color: rgb(32, 32, 32);
}

.navbar-brand {
    padding-left: 80px;
}

.nav-link {
    color: #ffc107;
    padding-left: 0;
}

#navbarDropdown {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    padding-right: 2px;
}

.card p {
    color: black;
    font-family:Arial, Helvetica, sans-serif
}

ul.dropdown-menu.show {
    display: flex;
    flex-direction: column;

}

li {
    flex-direction: row;
}

button.btn.btn-outline-warning {
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.nav-link {
    color: #ffc107;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    height: 600px;
  }
  
  .card {
      flex: 0 0 auto;
      margin-right: 5px;
      color: black;
     
  }
  
  h1 {
      color: rgb(197, 5, 5);
  }

  #pageheading{
      color: black;
  }
  
  .container-fluid {
    display: flex;
    flex-direction: column;
   
}

td{
    color: rgb(197, 5, 5);
}

th {
    color: rgb(197, 5, 5);
    font-size: 20px;
}

#indiv_descrip {
    color: black;
    border-radius: 25px;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    height: 600px;
  }
  
  .card {
      flex: 0 0 auto;
      margin-right: 5px;
  
  }
  

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    height: 600px;
  }
  
  .card {
      flex: 0 0 auto;
      margin-right: 5px;
  }